{% extends "base.html" %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
                <p class="post-meta">Time:  <a class="post-author" href="#">{{ post.date_time |date:'Y /m /d'}}</a> <a class="post-category post-category-js" href="{% url 'search_tag' tag=post.category %}">{{ post.category }}</a>
            </header>
        </section>
{% endfor %}
</div><!-- /.blog-post -->
{% endblock %}


