{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
                <p class="post-meta">
                    Time: <a class="post-author" href="#">{{ post.date_time }}</a>
                    Category: <a class="post-category post-category-js" href="#">{{ post.category }}</a>
                </p>
            </header>
            <div class="post-description">
                <p>
                    {{ post.content|custom_markdown }}
                </p>
            </div>
            <a class="pure-button" href="{% url 'detail' post.id %}">Read More </a>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}