{% extends "base.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{post.title}}</h2>
                <p class="post-meta">
                    Time: <a class="post-author" href="#">{{post.date_time}}</a>
                    Category: <a class="post-category post-category-js" href="#">{{post.category }}</a>
                </p>
            </header>
            <div class="post-description">
                <p>
                    {{ post.content|custom_markdown }}
                </p>
            </div>
            <!-- UY BEGIN -->
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2144576"></script>
            <!-- UY END -->
        </section>
</div><!-- /.blog-post -->
{% endblock %}