<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just test template</title>
    <style>
        body{
            background-color: red;
        }
        em{
            color: lightseagreen;
        }
    </style>
</head>
<body>
    <h1>Hello World!</h1>
    <strong>{{current_time}}</strong>
</body>
</html>